{% if inventory_hostname in ct_hosts %}
{% set NET=ct_hosts[inventory_hostname].network %}
{% if NET in ct_networks %}
{% set SERVERS=ct_networks[NET].dns_servers + ct_external_dns %}
{% endif %}
{% endif %}
---
{% if SERVERS is defined %}
network:
  version: 2
  renderer: {{ct_network_engine}}
  ethernets:
    {{ct_hosts[inventory_hostname].iface}}:
{% if ct_hosts[inventory_hostname].type == 'dhcp' %}
      dhcp4: yes
      dhcp6: no
{% else %}
      dhcp4: no
      dhcp6: no
      addresses: [{{ct_hosts[inventory_hostname].iip}}/{{ct_networks[NET].width}}]
{% endif %}
      gateway4: {{ct_networks[NET].gateway}}
      nameservers:
        search: [{{ct_networks[NET].domain}}]
        addresses: [{{SERVERS|join(',')}}]

# valid renderers: networkd NetworkManager
{% else %}
# not enough information available to form a plan
{% endif %}
...
